.content-center{
    max-width:800px;
    margin:0 auto 60px auto;
    text-align:center;
}

.content-left-categoria{
  
    margin:0 auto 60px auto;
    text-align:left;
    color:#8C143B;
  }

  .margenes-secciones{
    padding-top:10px;
  
  }

  