$color-discount: #ffffff;


.rewards_container{
    position:relative;
    overflow:hidden;
    margin:10px 0;
    border-radius: 2px;
    img{
        -moz-transition: all 0.8s;
        -webkit-transition:all 0.8s;
        transition:all 0.8s;
        &:hover{
            -moz-transform: scale(1.2);
            -webkit-transform:scale(1,2);
            transform: scale(1.2);
        }
    }
}

.rewards_container_details{
    position:absolute;
    bottom:25px;
    left:25px;
    z-index: 9000;
    h2{
        color:$color-discount;
        margin-bottom: 0px;
        a p{
            color:$color-discount;
        }
    }
}
.rewards_container_details_description{
  color:$color-discount;

}